
@{
    ViewBag.Title = "ManagementTick";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<style>
    .scroll_text {
        height: 600px;
        overflow: auto;
        padding: 0px 15px;
    }

        .scroll_text::-webkit-scrollbar {
            width: 8px;
        }

        .scroll_text::-webkit-scrollbar-track {
            background-color: #E7E7E7
        }

        .scroll_text::-webkit-scrollbar-thumb {
            border: 1px solid rgba(92, 92, 92, 0.5);
            border-radius: 10px;
        }

            .scroll_text::-webkit-scrollbar-thumb:hover {
                background-color: #000;
            }
    .mySlides {
        display: none;
    }
</style>

<div class="header pb-6" style="">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Bài viết đã đánh dấu</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("IndexCenter","Center")">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Đánh dấu</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7" ng-app="myApp">
    <div class="row" ng-controller="myCtrl">
        <div class="col-xl-12 mb-3">
            <div class="w3-section">
                <img class="mySlides w3-animate-left" src="~/Image/Advertisement/code-hay-upload-kiem-tien.jpg" style="width:100%">
                <img class="mySlides w3-animate-left" src="~/Image/Advertisement/share-code-clould-vps.jpg" style="width:100%">
                <img class="mySlides w3-animate-left" src="~/Image/Advertisement/thiet-ke-website.jpg" style="width:100%">
            </div>
        </div>
        <div class="col-xl-8">
            <div class="">
                <div class="card" style="font-family: Montserrat, sans-serif">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0 d-flex align-items-center" style="font-family: Montserrat, sans-serif"><i class="ni ni-book-bookmark"></i> Bài viết bạn đã đánh dấu</h3>
                    </div>
                    @*<div class="float-right" style="padding: 10px;">
                            <a href="#" style="margin-left: 5px;">Nổi tiếng &nbsp;&nbsp;&nbsp; </a>
                            <a href="#" style="margin-left: 5px;">Trả lời &nbsp;&nbsp;&nbsp;</a>
                            <a href="#" style="margin-left: 5px;">&nbsp;&nbsp;&nbsp; <i class="fas fa-undo-alt"></i></a>
                        </div>*@
                    <div class="form-group mb-0">
                        <div class="input-group input-group-alternative input-group-merge">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" ng-model="txtSearch" placeholder="Tìm kiếm ..." type="text">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort bg-info text-white" style="font-size:15px;font-weight:bold"> Stt</th>
                                    <th scope="col" class="sort bg-info text-white" data-sort="name" style="font-size:15px;font-weight:bold">Câu hỏi</th>
                                    <th scope="col" class="sort bg-info text-white" style="font-size:15px;font-weight:bold">
                                        Bỏ đánh dấu
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <tr ng-repeat="x in filteredTodos| filter: txtSearch">
                                    <td class="text-center" style="font-size:18px">
                                        {{$index+1}}
                                    </td>
                                    <td scope="row">
                                        <div class="media align-items-center">
                                            <a class="mr-2">
                                                <center><i class="fa fa-chevron-up" style="font-size:200%"></i></center>
                                                <center>
                                                    <p style="color:red;font-size:22px;margin-bottom:5px;font-weight:bold">{{x.question_totalRate}}</p>
                                                </center>
                                                <center><i class="fa fa-chevron-down mt--3" style="font-size:200%"></i></center>
                                            </a>
                                            <div class="media-body" style="margin-left:20px">
                                                <div>
                                                    <a ng-href="/FunctionAtDetailQuestion/DetailQuestion?id={{x.question_id}}">
                                                        <p class="mb--2" ng-show="x.question_title.length > 50">
                                                            {{x.question_title.substring(0, 50) + "..."}}
                                                        </p>
                                                        <p class="mb--2" style="font-size:18px;font-weight:bold" ng-show="x.question_title.length < 51">
                                                            {{x.question_title}}
                                                        </p>
                                                    </a>
                                                </div>
                                                <div class="d-flex align-items-center mt-2">
                                                    <i class="fas fa-reply"></i> &nbsp;{{x.question_Answer}} &nbsp;&nbsp; <i class="far fa-comment-dots"></i>&nbsp;{{x.question_totalComment}}&nbsp;&nbsp; <i class="far fa-eye"></i>&nbsp;{{x.question_view}}
                                                </div>

                                            </div>
                                    </td>
                                    <td class="budget text-center">
                                        <a href="#" onclick="return window.confirm('Bạn có chắc muốn bỏ đánh dấu bài viết này!')" ng-click="unTick(x.tickQuestion_id,$index)" data-toggle="tooltip" data-placement="top" title="Bỏ đánh dấu"><i class="far fa-check-circle" style="font-size: 23px;"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <pagination ng-model="currentPage"
                            total-items="list.length"
                            max-size="maxSize"
                            boundary-links="true">
                </pagination>
            </div>
        </div>
        <div class="col-xl-4">
            <small style="font-size:15px">Liên hệ <i class="fas fa-phone"></i></small>
            @Html.Action("FriendIndexCenterRealTime", "ShareView")
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', ["ui.bootstrap"]);
    app.controller('myCtrl', function ($scope, $http) {
        $http.get("/UserManagement/ListTick")
            .then(function (response) {
                //Gia dinh
                $scope.filteredTodos = []
                    , $scope.currentPage = 1
                    , $scope.numPerPage = 12
                    , $scope.maxSize = 5;

                //Xac dinh list phan trang
                $scope.makeTodos = function () {
                    $scope.list = response.data;
                }
                $scope.makeTodos();

                //Phân trang
                $scope.$watch('currentPage + numPerPage', function () {
                    var begin = (($scope.currentPage - 1) * $scope.numPerPage)
                        , end = begin + $scope.numPerPage;

                    $scope.filteredTodos = $scope.list.slice(begin, end);
                });
            }, function (response) {
                // Second function handles error
                $scope.content = "Something went wrong";
            });
        $scope.unTick = function (id, idx) {
            $scope.filteredTodos.splice(idx, 1);
            $http.get("/UserManagement/UnTick?id=" + id)
        }
        //show User gợi ý kết bạn
        $http.get("/ShareView/SuggestiotMakeFriends")
            .then(function (response) {
                // First function handles success
                $scope.listSuggestiotMakeFriends = response.data;
            }, function (response) {
                // Second function handles error
                $scope.listSuggestiotMakeFriends = "Something went wrong";
            });
    });
</script>
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4500);
    }
</script>
