
@{
    ViewBag.Title = "ManagementNotification";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    .scroll_text {
        max-height: 450px;
        overflow: auto;
        padding: 0px 15px;
    }

        .scroll_text::-webkit-scrollbar {
            width: 8px;
        }

        .scroll_text::-webkit-scrollbar-track {
            background-color: #E7E7E7
        }

        .scroll_text::-webkit-scrollbar-thumb {
            border: 1px solid rgba(92, 92, 92, 0.5);
            border-radius: 10px;
        }

            .scroll_text::-webkit-scrollbar-thumb:hover {
                background-color: #000;
            }

    .mySlides {
        display: none;
    }
</style>
<div class="header pb-6" style="">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Thông báo</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thông báo</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    @*<a href="@Url.Action("PostQuestion","Question")" class="btn btn-sm btn-neutral"><i class="far fa-paper-plane"></i> Đặt câu hỏi?</a>
                        <a href="#" class="btn btn-sm btn-neutral"><i class="far fa-edit"></i> Đăng bài viết </a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7" ng-app="myApp">
    <div class="row" ng-controller="myCtrl">
        <div class="col-xl-12 mb-3">
            <div class="w3-section">
                <img class="mySlides w3-animate-left" src="~/Image/Advertisement/code-hay-upload-kiem-tien.jpg" style="width:100%">
                <img class="mySlides w3-animate-left" src="~/Image/Advertisement/share-code-clould-vps.jpg" style="width:100%">
                <img class="mySlides w3-animate-left" src="~/Image/Advertisement/thiet-ke-website.jpg" style="width:100%">
            </div>
        </div>
        <div class="col-xl-8">
            <div class="">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0"><i class="fas fa-bell"></i> Các thông báo của bạn</h3>
                    </div>
                    <div class="form-group mb-0">
                        <div class="input-group input-group-alternative input-group-merge">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" ng-model="txtSearch" placeholder="Tìm kiếm" type="text">
                        </div>
                    </div>

                    <!-- Light table -->

                    <div class="table-responsive">
                        <table class="w-100 mt-3">
                            <thead>
                                <tr style="border-bottom:1px solid #999">
                                    <th scope="col" class="text-center p-2"> Stt</th>
                                    <th scope="col" class="sort" data-sort="name">Câu hỏi</th>
                                    <th scope="col" class="text-center">
                                        Bỏ thông báo
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="list">

                                <tr ng-repeat="x in filteredTodos| filter: txtSearch">
                                    <td class="text-center mr-2" style="font-size:16px">
                                        {{$index + 1}}
                                    </td>
                                    <td scope="row" class="w-75">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <a ng-href="/FunctionAtDetailQuestion/DetailQuestion?id={{x.question_id}}" style="font-size:19px">
                                                    <i class="fas fa-info-circle"></i>
                                                    <span class="name mb-0" style="font-size:17px">
                                                        {{x.notification_content}}
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="budget text-center">
                                        <a ng-click="recycleBinNotification(x.notification_id,$index)" href="#"><i class="fas fa-times" style="font-size:23px"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <pagination ng-model="currentPage"
                            total-items="list.length"
                            max-size="maxSize"
                            boundary-links="true">
                </pagination>
            </div>
        </div>
        <div class="col-xl-4">
            <small>Liên hệ <i class="fas fa-phone"></i></small>
            @Html.Action("FriendIndexCenterRealTime", "ShareView")
        </div>

    </div>
</div>
<script>
    var app = angular.module('myApp', ["ui.bootstrap"]);
    app.controller('myCtrl', function ($scope, $http) {
        $http.get("/UserManagement/ListNotification")
            .then(function (response) {
                //Gia dinh
                $scope.filteredTodos = []
                    , $scope.currentPage = 1
                    , $scope.numPerPage = 12
                    , $scope.maxSize = 5;

                //Xac dinh list phan trang
                $scope.makeTodos = function () {
                    $scope.list = response.data;
                }
                $scope.makeTodos();

                //Phân trang
                $scope.$watch('currentPage + numPerPage', function () {
                    var begin = (($scope.currentPage - 1) * $scope.numPerPage)
                        , end = begin + $scope.numPerPage;

                    $scope.filteredTodos = $scope.list.slice(begin, end);
                });
            }, function (response) {
                // Second function handles error
                $scope.content = "Something went wrong";
            });
        $scope.recycleBinNotification = function (id, idx) {
            $scope.filteredTodos.splice(idx, 1);
            $http.get("/UserManagement/RecycleBinNotification?id=" + id)
        }
        //show User gợi ý kết bạn
        $http.get("/ShareView/SuggestiotMakeFriends")
            .then(function (response) {
                // First function handles success
                $scope.listSuggestiotMakeFriends = response.data;
            }, function (response) {
                // Second function handles error
                $scope.listSuggestiotMakeFriends = "Something went wrong";
            });
    });
</script>
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4500);
    }
</script>
