.scroll_text {
    overflow: auto;
    padding: 0px 15px;
    margin-bottom:20px;
    max-height:450px;
}

    .scroll_text::-webkit-scrollbar {
        width: 8px;
    }

    .scroll_text::-webkit-scrollbar-track {
        background-color: #f8f9fe
    }

    .scroll_text::-webkit-scrollbar-thumb {
        border: 1px solid rgba(92, 92, 92, 0.5);
        border-radius: 10px;
    }

        .scroll_text::-webkit-scrollbar-thumb:hover {
            background-color: #000;
        }

.ck.ck-editor__editable_inline > :last-child {
    margin-bottom: 120px;
}

body {
    font-family: Arial
}

.input-group {
    box-shadow: 0 3px 2px rgb(233 236 239 / 5%);
}

a {
    color: #525f7f;
}
.hov:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
}
