<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
@if (Request.Cookies["user_id"] != null || Request.Cookies["admin_id"] != null) {
    Response.Redirect("/Center/IndexCenter");
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/TestTemplateLogin/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/assets/TestTemplateLogin/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/TestTemplateLogin/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="~/assets/TestTemplateLogin/css/style.css">
    <title> Đăng nhập </title>
</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/assets/TestTemplateLogin/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Đăng nhập</h3>
                                <p class="mb-4">OverSea nơi bạn chia sẻ, học hỏi, phô trương kiến thức của mình.</p>
                            </div>
                            <form method="post">
                                @Html.AntiForgeryToken()
                                <div class="form-group first mb-3" style="height:60px">
                                    <label for="username">Email hoặc Số điện thoại</label>
                                    <input type="text" class="form-control" style="background-color:transparent" name="user_email" id="username" required>
                                </div>
                                <div class="form-group last mb-4" style="height:60px">
                                    <label for="password">Mật khẩu</label>
                                    <input type="password" class="form-control" name="user_pass" id="password" required>
                                </div>
                                @if (ViewBag.checkLogin != null)
                                {
                                    <div>
                                        <span class="text-danger" style="padding:1%;">
                                            <i class="fas fa-exclamation-triangle"></i> @ViewBag.checkLogin
                                        </span>
                                    </div>
                                }
                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-0">
                                        <span class="caption">Nhớ tài khoản</span>
                                        <input type="checkbox" checked="checked" />
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><a href="@Url.Action("ForgotPassword","Account")" class="forgot-pass">Quên mật khẩu</a></span>
                                </div>
                                <button type="submit" class="btn btn-block btn-primary">Đăng nhập <i class="far fa-paper-plane"></i></button>
                                <span class="d-block text-left my-4 text-muted">&mdash; hoặc đăng nhập bằng &mdash;</span>
                                <div class="social-login">
                                    <a href="#" class="google">
                                        <span class="icon-google mr-3"></span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/TestTemplateLogin/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/TestTemplateLogin/js/popper.min.js"></script>
    <script src="~/assets/TestTemplateLogin/js/bootstrap.min.js"></script>
    <script src="~/assets/TestTemplateLogin/js/main.js"></script>
</body>
</html>



