
<style>
    .scrolling-area {
        max-width: 250px;
        max-height: 250px;
        overflow: auto;
        padding: 1rem;
        background: white;
        transform: rotate(180deg);
    }

    .scrolling-element-inside {
        transform: rotate(-180deg);
    }
</style>
<div class="scrolling-area">
    <div class="scrolling-element-inside">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsum blanditiis optio officiis quia fugiat ut eius expedita rerum nostrum id quas, iusto reprehenderit. Nesciunt porro praesentium eum eius ex!</p>
        <p>Illo ducimus atque repudiandae, hic dicta soluta nihil laboriosam. Minus, alias aliquam aperiam maxime porro itaque fuga doloribus quas ex et veritatis labore cupiditate at, enim, repellat tempora quod soluta.</p>
        <p>Aut quaerat sit dolores excepturi odio. Non totam voluptatum aut similique suscipit ullam dolorum dolore doloremque omnis recusandae inventore dolores quos, quo dolorem, voluptatibus quasi quisquam corporis porro rem soluta.</p>
        <p>Porro animi corrupti accusamus tenetur harum minima cum unde ullam, ea consectetur et impedit ad ipsum odit laboriosam, reprehenderit autem accusantium voluptate tempore. Aliquam odit mollitia, ipsam cum quam necessitatibus.</p>
        <p>Non modi maiores molestiae ut ex esse commodi, eos deserunt, nisi, magnam perferendis neque ipsa. Inventore beatae, autem corporis, doloribus modi fugit ab ipsam sit recusandae sequi tempore quo in?</p>
    </div>
</div>
<div>
    <img src="~/Image/Robot/pngtree-cartoon-grid-robot-icon-png-image_907832.jpg" />
</div>
<img src="~/Image/Robot/08781edde0cb5fdcd82039ce661a5604.jpg" />